<h1 class="text-2xl font-bold my-6">Welcome to my CyberSpace Place!</h1>
{{ content }}

<section class="border border-green-400 mt-12">
    <h2 class="p-5">Recent Blog Posts</h2>
    {{ collection:blog limit="5" }}
    <a
        href="{{ url }}"
        class="flex items-center justify-between p-5 border-t border-green-400 text-green-400 hover:text-green-900 hover:bg-green-400"
    >
        <span>{{ title }}</span>
        <span class="text-green-900 text-sm">{{ date }}</span>
    </a>
    {{ /collection:blog }}
</section>
